*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --dark-black-: #000;
    --deep-grey: #484848;
    --transp-black: #000000ce;
    --light-white: #ffffff;
    --light-grey: #6d6d6d;
    --deep-blue: #080b12;
    --dark-grey: #141922;
    --foot-grey: #282828;
}

.flexbox{
    display: flex;
}

i{
    color: var(--light-white);
}


a{
    text-decoration: none;
}

hr{
    width: 90%;
    margin: auto;
    border-color: var(--deep-grey);
}

img{
    max-width: 100%;
}

.font{
    font-family: 'Circular Std', sans-serif;
}

.basic_text{
    display: none;
    color: var(--light-grey);
    font-size: 0.8rem;
    font-weight: 200;
    align-self: center;
    margin-left: 0.4rem;
}

.row{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    overflow-y: auto;
}



.white_head{
    color: var(--light-white);
    font-size: 1rem;
    margin: 0.4rem 0;
    margin-top: 0.6rem;
}



.col_12{
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.col_4{
    width: calc(100% / 12 * 4);
}

.col_2{
    width: calc(100% / 12 * 2);
}

.ml{
 align-self: center;
}

.md_lg_display{
    display: none;
}


/* #region debug */











/* #endregion debug */



/* #region sidebar */

.sidebar{
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--dark-black-);
}

.nav_bar.top, .nav_bar.bottom{
    flex-direction: column;
    justify-content: center;
}

.top .sidebar{
    width: 45px;
}

.icon{
    width: 25px;
    margin-bottom: 0.5rem;
}

.centered_icon{
    justify-content: center;
}

.sm_logo{
    margin-top: 0.5rem;
}

.md_logo.lg_logo{
    height: 50px;
    margin: 1.2rem 0;
}

.circle{
    height: 35px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--light-grey);
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

#add_playlist{
    font-size: 0.9rem;
    display: inline-block;
}



.playlist_title{
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
    list-style-type: none;
}

.playlist_title .basic_text{
    align-self: flex-start;
}

/* #endregion sidebar */


/* #region content */

.content{
    flex-direction: column;
    height: 100%;
}

.top .content_container{
    height: calc(100vh - 65px);
    width: calc(100% - 40px);
   
    background-color: var(--dark-grey);

}

.white_head.xl{
    font-size: 1rem;
}

.content_nav{
    justify-content: center;
    margin-bottom: 1.5rem;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}
 
.content_type{
    color: var(--deep-grey);
    font-size: 0.7rem;
    
}

.row_2{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.card.flexbox{
    flex-direction: column;
}

.album_title{
    color: var(--light-grey);
    font-size: 0.8rem;
}

                   /* BANNER */

.banner{
    position: sticky;
    top: 0;
    left: 0;
    height: 30%;
    width: 100%;
    background-color: var(--deep-blue);
    justify-content: flex-end;
}

#upgrade_text{
    color: var(--light-white);
    align-self: center;
    font-size: 0.6rem;
    margin-right: 5rem;
    border: 1px var(--light-white) solid;
    padding: 0.4rem 1rem;
    border-radius: 40px;
}

.artist{
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-image: url(../img/doomcheesejpg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

#jay{
    background-image: url(../img/screamin.jpg);

}

                /* /BANNER */
                      

/* #endregion content */

/* region footer */

.app_footer{
    position: sticky;
    bottom: 0;
    left: 0;
}

.foot_container{
    height: 65px;
    background-color: var(--foot-grey);
    justify-content: space-between;
}

.row_foot{
    display: flex;
    margin: 0.5rem 1rem;
    justify-content: space-between;
}

.foot_left{
    margin-top: 0.6rem;
}

.left_text_container{
    flex-direction: column;
    margin-left: 0.5rem;


}

.white_head_footer{
    font-size: 0.9rem;
    color: var(--light-white);
}



.song_info{
    font-size: 0.6rem;
    color: var(--light-grey);
}

.foot_left, .foot_central, .foot_right{
    width: 25%;
}
.foot_central{
    justify-content: center;
    flex-direction: column;
    width: 35%;
}

.central_up{
    gap: 1rem;
    margin-top: 0.6rem;
    margin-bottom: 1rem;
    align-self: center;
}

.progression{
    width: 100%;
    height: 2px;
    border: 2px solid var(--light-grey);
    align-self: center;
    margin: 0 0.6rem;
}

.minute{
    color: var(--light-white);
    font-size: 0.7rem;
}

.foot_right{
    align-items: center;
    gap: 0.6rem;
}
/* #endregion footer */


/* #region media query */

@media screen and (min-width: 500px) {
    .top .sidebar{
        width: 200px;
    }

    .top .content_container{
        width: calc(100% - 200px);
    }

    .centered_icon{
        justify-content: flex-start;
        margin-left: 0.6rem;
    }

    .sm_logo{
        display: none;
    }

    .col_4_s{
        width: calc(100% / 12 * 4);
    }

    .md_lg_display{
        display: inline-block;
    }

    .white_head.xl{
        font-size: 1.4rem;
    }

}


@media screen and (min-width: 768px) {
    .top .sidebar{
        width: 200px;
    }

    .top .content_container{
        width: calc(100% - 200px);
    }

    .centered_icon{
        justify-content: flex-start;
        margin-left: 0.6rem;
    }

    .sm_logo{
        display: none;
    }

    .col_2_md{
        width: calc(100% / 12 * 2);
        margin-right: 2rem;
    }

    .md_lg_display{
        display: inline-block;
    }

    .white_head.xl{
        font-size: 1.4rem;
    }

    .row_2{
        justify-content: initial;
        gap: 0;
    }

    .card.flexbox{
        margin-bottom: 2rem;
    }

    .ml{
        align-self: initial;
    }
}

@media screen and (min-width: 1154px) {
 
    .row_2{
        justify-content: initial;
        gap: 0;
    }

    .card.flexbox{
        margin-bottom: 2rem;
    }

    .col_lg{
        width: 15%;
        margin: 0.5rem;
        flex-shrink: 10%;
    }

    .ml{
        align-self: initial;
    }
}


/* #endregion media query */